{% extends "base.html" %}

{% block title %}
Deletar Post | Snapzo
{% endblock title %}

{% block main %}
<div class="max-w-md mx-auto my-5">
    <h2 class="text-2xl font-semibold mb-4">Deletar Post</h2>
    <p>Você tem certeza que deseja deletar este post?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit"
            class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">Deletar</button>
        <a href="{% url 'userProfilePage' user.id %}"
            class="bg-gray-300 text-black px-4 py-2 rounded-lg hover:bg-gray-400 transition">Cancelar</a>
    </form>
</div>
{% endblock main %}