{% extends 'base.html' %}

{% block title %}
Detalhes do Post
{% endblock title %}

{% block main %}
<div class="max-w-xl mx-auto my-5 p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-bold mb-4 text-blue-600">
        <a href="{% url 'userProfilePage' post.user.id %}" class="hover:underline">
            {{ post.user.username }}
        </a>
    </h2>
    <p class="text-lg text-gray-800 mb-4">{{ post.content }}</p>
    <div class="border-t border-gray-300 mt-4 pt-4">
        <p class="text-gray-500"><strong>Criado há:</strong> {{ time_since }} - {{ post.created_at|date:"d/m/Y H:i" }}</p>
        <p class="text-gray-500"><strong>Curtidas:</strong> <span id="like-count">{{ post.like_count }}</span></p>
        
        <button id="like-button" class="flex items-center mt-2 bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition">
            <i id="like-icon" class="fas 
                {% if has_liked %}
                    fa-thumbs-up
                {% else %}
                    fa-thumbs-o-up
                {% endif %}
                mr-1"></i>
            <span class="text-sm">
                {% if user.is_authenticated %}
                    {% if has_liked %}
                        Descurtir
                    {% else %}
                        Curtir
                    {% endif %}
                {% else %}
                    Curtir
                {% endif %}
            </span>
        </button>
    </div>
</div>

<script>
    document.getElementById('like-button').addEventListener('click', function() {
        const postId = '{{ post.id }}';  // Certifique-se de que este é o UUID
        fetch(`/like/${postId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('like-count').textContent = data.like_count;
            const icon = document.getElementById('like-icon');
            icon.classList.toggle('fa-thumbs-up');  // Muda para o ícone de curtir
            icon.classList.toggle('fa-thumbs-o-up'); // Muda para o ícone de não curtir
            this.querySelector('span').textContent = (data.action === 'liked') ? 'Descurtir' : 'Curtir';
        })
        .catch(error => console.error('Erro:', error)); // Para verificar se há erros
    });
</script>


{% endblock main %}
