<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entrar</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body class="bg-gray-50 flex items-center justify-center min-h-screen">
  <div class="bg-white shadow-lg rounded-lg p-8 w-96">
    <h1 class="text-3xl font-semibold text-center mb-6 text-orange-700">Entrar na Conta</h1>
    <form method="post">
      {% csrf_token %}

      <div class="mb-4">
        <label for="id_username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" name="username" id="id_username" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md 
                          focus:outline-none focus:ring focus:ring-orange-500" />
        {% if form.username.errors %}
        <div class="text-red-500 text-sm mt-1">
          {% for error in form.username.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="mb-4 relative">
        <label for="id_password" class="block text-sm font-medium text-gray-700">Sua Senha</label>
        <input type="password" name="password" id="id_password" required class="mt-1 block w-full p-2 border border-gray-300 rounded-md 
                          focus:outline-none focus:ring focus:ring-orange-500" />
        <span id="togglePassword" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
          style="top: 1.45rem;">
          <i class="fas fa-eye" id="eyeIcon"></i>
        </span>
        {% if form.password.errors %}
        <div class="text-red-500 text-sm mt-1">
          {% for error in form.password.errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <button type="submit"
        class="w-full bg-orange-700 text-white p-2 rounded-md hover:bg-orange-800 focus:outline-none">
        Entrar
      </button>
      <p class="mt-4 text-center">
        Não tem conta? <a href="{% url 'signUpPage' %}" class="text-orange-700 hover:underline">Crie aqui</a>
      </p>
    </form>
  </div>

  <script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('id_password');
    const eyeIcon = document.getElementById('eyeIcon');

    togglePassword.addEventListener('click', function () {
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      eyeIcon.classList.toggle('fa-eye');
      eyeIcon.classList.toggle('fa-eye-slash');
    });
  </script>
</body>

</html>