{% extends 'base.html' %}

{% block title %}
Explorer
{% endblock title %}

{% block main %}
<div class="container mx-auto my-5">
    <h1 class="text-3xl font-bold mb-4">Explorer Page</h1>
    
    <!-- Barra de pesquisa -->
    <form method="GET" action="{% url 'explorerPage' %}" class="mb-5">
        <input type="text" name="query" placeholder="Pesquisar por usuários ou posts..."
               class="w-full h-12 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
               value="{{ query }}" required>
        <button type="submit"
                class="mt-2 w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">
            Pesquisar
        </button>
    </form>

    {% if users or posts %}
        <h2 class="text-2xl font-semibold mb-4">Resultados da Pesquisa:</h2>

        {% if users %}
            <h3 class="font-bold">Usuários Encontrados:</h3>
            {% for user in users %}
                <div class="border-b mb-4 pb-4">
                    <a href="{% url 'userProfilePage' user.id %}" class="font-bold text-blue-600 hover:underline">{{ user.username }}</a>
                    <p>Usuário encontrado.</p>
                </div>
            {% empty %}
                <p class="text-gray-500">Nenhum usuário encontrado.</p>
            {% endfor %}
        {% endif %}

        {% if posts %}
            <h3 class="font-bold mt-6">Posts Encontrados:</h3>
            {% for post in posts %}
                <a href="{% url 'postDetailPage' post.id %}" class="block bg-white border border-gray-300 rounded-lg shadow-md p-4 mb-4 transition hover:shadow-lg hover:border-blue-500">
                    <h4 class="font-bold text-blue-600">{{ post.user.username }}</h4>
                    <p class="text-gray-700">
                        {% if query %}
                            {% with post_content=post.content %}
                                {% for word in post_content.split %}
                                    {% if word|lower == query|lower %}
                                        <span class="highlight">{{ word }}</span>
                                    {% else %}
                                        {{ word }} 
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% else %}
                            {{ post.content }}
                        {% endif %}
                    </p>
                </a>
            {% empty %}
                <p class="text-gray-500">Nenhum post encontrado.</p>
            {% endfor %}
        {% endif %}
    {% else %}
        <p class="text-gray-500">Nenhum resultado encontrado.</p>
    {% endif %}
</div>

<style>
.highlight {
    font-weight: bold;
    text-decoration: underline;
}
</style>
{% endblock main %}
