<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Snapzo
        {% endblock title %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-6 py-4 flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <div class="text-3xl font-bold text-zinc-600">Snapzo</div>
            </div>

            <div class="lg:hidden">
                <button id="mobile-menu-button" class="text-gray-700 focus:outline-none">
                    <i class="fas fa-bars text-2xl"></i>
                </button>
            </div>

            <div class="hidden lg:flex-grow lg:flex lg:items-center lg:justify-center lg:space-x-12">
                <ul class="flex space-x-12">
                    <li>
                        <a href="{% url 'homePage' %}"
                            class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                            <i class="fas fa-home mr-2"></i> Início
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'explorerPage' %}"
                            class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                            <i class="fas fa-compass mr-2"></i> Explorar
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'notificationsPage' %}"
                            class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                            <i class="fas fa-bell mr-2"></i> Notificações
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                            <i class="fa-solid fa-message mr-2"></i> Mensagens
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="hidden lg:flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                <span class="text-zinc-600 text-lg font-medium">
                    <a href="{% url 'userProfilePage' request.user.id %}"
                        class="hover:text-orange-700">{{request.user.username }}</a>
                </span>
                <form action="{% url 'logoutPage' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-red-600 transition transform hover:scale-105 duration-200">Sair</button>
                </form>
                {% else %}
                <a href="{% url 'signInPage' %}"
                    class="bg-orange-700 text-white px-4 py-2 rounded-lg shadow hover:bg-orange-800 transition transform hover:scale-105 duration-200">Entrar</a>
                {% endif %}
            </div>
        </div>

        <div id="mobile-menu" class="hidden lg:hidden bg-white">
            <ul class="space-y-4 p-4">
                <li>
                    <a href="{% url 'homePage' %}"
                        class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                        <i class="fas fa-home mr-2"></i> Início
                    </a>
                </li>
                <li>
                    <a href="{% url 'explorerPage' %}"
                        class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                        <i class="fas fa-compass mr-2"></i> Explorar
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'notificationsPage' %}"
                        class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                        <i class="fas fa-bell mr-2"></i> Notificações
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center text-gray-700 text-lg hover:text-orange-700 transition-all duration-200">
                        <i class="fa-solid fa-message mr-2"></i> Mensagens
                    </a>
                </li>
                {% endif %}
            </ul>

            <div class="p-4 border-t mt-4">
                {% if request.user.is_authenticated %}
                <span class="block text-zinc-600 text-lg font-medium mb-2">
                    <a href="{% url 'userProfilePage' request.user.id %}"
                        class="hover:text-orange-700">{{request.user.username }}</a>
                </span>
                <form action="{% url 'logoutPage' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        class="w-full bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-red-600 transition transform hover:scale-105 duration-200">Sair</button>
                </form>
                {% else %}
                <a href="{% url 'signInPage' %}"
                    class="w-full block bg-orange-700 text-white px-4 py-2 rounded-lg shadow hover:bg-orange-800 transition transform hover:scale-105 duration-200 text-center">Entrar</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block main %}
    {% endblock main %}

    <script>
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>

</html>